# Pliki tymczasowe Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/

# Pliki pakietów Unity
Packages/packages-lock.json

# Pliki systemowe
.DS_Store
Thumbs.db

# Pliki IDE (Visual Studio, Rider, etc.)
*.csproj
*.sln
*.user
*.suo
*.vscode/
*.vsconfig

# Pliki logów i cache
UpgradeLog.htm
